@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
font-family:'Roboto', sans-serif;
background:#161616;
color:#0d0d0e;
line-height:1.6;
}
header {
    text-align: center;
    margin-bottom: 40px;
}

header h1{
font-family:'Poppins', sans-serif;
font-size:40px;
font-weight:700;
color:#38bdf8;
letter-spacing:1px;
}
.subtitle{
font-size:18px;
color:#94a3b8;
font-weight:400;
font-family:'Roboto', sans-serif;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background: #525253;
    border-radius: 8px;
}

section h2 { 
font-family:'Poppins', sans-serif;
font-size:28px;
font-weight:600;
color:#38bdf8;
margin-bottom:15px;
letter-spacing:1px;
text-align: center;
text-transform: uppercase;
position:relative;
}
section h2::after{
content:"";
display:block;
width:100px;
height:3px;
background:#22c55e;
margin:auto;
border-radius:2px;
}

.project h3 {
    color: #e5e7eb;
}

.link a {
    color: #22d3ee;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    text-align: center;
    font-family:'Roboto', sans-serif;
    margin-top: 30px;
    color: #94a3b8;
    font-size: 14px;
}
.profile-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.profile-photo img {
    width: 140px;
    height: 140px;
    border-radius: 75%;
    object-fit: cover;
    border: 4px solid #38bdf8;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #7b2ff7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    font-family:'Poppins', sans-serif;
}

.nav-logo {
    color: white;
    font-size:20px;
    font-weight: 600;
 font-family: 'Poppins', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    letter-spacing:0.5px ;
    transition: color 0.3s;
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav-links a:hover {
    color: #38bdf8;
}
#skills {
    min-height: 100vh;           /* 👈 makes Skillit full screen like about */
    display: flex;
    flex-direction: column;
    justify-content: center;     /* vertical center */
    align-items: center;         /* horizontal center */
    padding: 60px 10%;
}
/* Skills Container */
.skills-container{
display:flex;
 justify-content: center;
gap:20px;
overflow-x:auto;
flex-wrap: wrap;
padding:20px 10px;
margin-top: 40px;   
scroll-behavior:smooth;
scroll-snap-type: x mandatory;
}

/* Hide scrollbar (optional) */
.skills-container::-webkit-scrollbar{
height:8px;
display: none;
}

.skills-container::-webkit-scrollbar-thumb{
background:#38bdf8;
border-radius:10px;
}

/* Skill Card */
.skill-card{
min-width:300px;
height:200px;
background:#020617;
border-radius:10px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
transition:0.3s;
cursor:pointer;
border:1px solid #1e293b;
scroll-snap-align: center;
}

/* Skill Image */
.skill-card img{
width:55px;
height:55px;
margin-bottom:8px;
}

/* Glow Hover Effect */
.skill-card:hover{
transform:translateY(-5px);
box-shadow:0 0 20px rgba(34,197,94,0.8);
border-color:#22c55e;
}
.skill-title{
font-size:18px;        /* change title size */
font-weight:600;       /* boldness */
color:#38bdf8;         /* title color */
margin-top:8px;
margin-bottom:5px;
letter-spacing:0.5px;
text-transform: uppercase;
font-family:'Poppins', sans-serif;
}

.skill-tech{
font-size:14px;
font-family:'Poppins', sans-serif;
color:#94a3b8;
line-height:1.4;
}
.container {
    display: flex;
    min-height: 100vh;
}
/* ABOUT SECTION */
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 10%;
    padding-left: 6px ;
    min-height: 100vh;
    background: linear-gradient(120deg, #e8dfff, #161616);
}

/* LEFT TEXT */
.about-text {
    max-width: 800px;
    padding-left: 250px;
     display: flex;
    flex-direction: column; /* 👈 THIS is key */
    align-items: flex-start;
}

.about-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: -1px; /* makes it look premium */
    font-size: 42px;
     color: #161616;
}

.about-text h1 span {
    color: #7b2ff7;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.about-text p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #555;
    line-height: 1.7;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;        
}

/* BUTTON */
.btn {
    background: #7b2ff7;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.btn:hover {
    background: #5a1fd1;
}

/* RIGHT IMAGE */
.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGE CARD */
.image-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* PROFILE IMAGE */
.image-card img {
    width: 280px;
    border-radius: 10px;
}
.hero-buttons {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-buttons .btn {
    margin-right: 10px;
    padding: 14px 28px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    min-width: 120px;   
}
.hero-buttons .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(123, 47, 247, 0.5);
}
.btn span {
    margin-left: 8px;
    background: rgba(255,255,255,0.2);
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 12px;
}   